node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*

.compare*
.compare2*
.file-structure
/app/routes/app.createProducts.backup.jsx

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock

/shopify.app.dev.toml

lpcgolf-product-images-f6c82c76c2ea.json

client_secret_116539325084-f4iukk2u7q8bd11vij5lrfthbibc3hgv.apps.googleusercontent.com.json

debug-google-creds.js

test-google-auth.js